.outer-shadow {
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    box-shadow: var(--outer-shadow);
}

.inner-shadow {
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    box-shadow: var(--inner-shadow);
}
h1 { color: #d04764; font-family: 'Lobster', cursive; font-size: 80px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }
h2 { color: #d04764; font-family: 'Lobster', cursive; font-size: 40px; font-weight: normal; line-height: 48px; margin: 0 0 18px; text-shadow: 1px 0 0 #fff; }

